@import './_pouet.scss';


.text-box-frame {
    
    background-color: #333;

    border-radius: 25px; 
    padding: 5px; 
    margin: 20px auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 

    img {
     width: 500px;
      height: 450px;
    
      border-radius: 20px; 
     
    }


  }

  .large {
    
    width: 500px;
    
    background: rgb(245,249,135);
    background: linear-gradient(90deg, rgba(245,249,135,1) 33%, rgba(231,156,12,1) 76%);
  }

  .medium {
    
    height: 200px;
    border: 5px solid  rgba(245,249,135,1);
    background: #ffffff;
    color: #932A93
  }

  .small {
    font-family: 'Acme';
    height: 450px;
    border: 5px solid rgba(231,156,12,1); 
    background: #ffffff;
    color: #932A93
  }

  .tiny {
    font-family: 'Acme';
    color: #ffffff;
    background: rgb(239,160,194);
    background: linear-gradient(90deg, rgba(239,160,194,1) 10%, rgba(199,128,188,1) 29%, rgba(177,85,193,1) 81%, rgba(121,175,219,1) 95%);
    padding: 20px 20px 20px 20px;
    white-space: pre-line;
  }

  @media screen and (max-width: 560px) {

    .text-box-frame {
      width: auto;
      img {
        width: 300px;
        height: 300px;

      }

    .carousel-container {

      width: 300px;
    }
    }

}