/* Dans le fichier CSS TextBoxFrame.css */
@import './_pouet.scss';


.text-box-frame {
    color : $font-color-main;
    background-color: $primary-color; /* Couleur de fond */
    border: 2px solid #333; /* Bordure de 2px avec couleur #333 */
    border-radius: 25px; /* Rayon de bordure de 25px */
    padding: 20px; /* Espacement intérieur */
    width: fit-content; /* Ajuste la largeur en fonction du contenu */
    margin: 20px auto; /* Centre horizontalement avec 20px de marge verticale */
    text-align: center; /* Centrer le texte */
  }