@import './_pouet.scss';

.custom-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative; /* Nécessaire pour le positionnement absolu */
  }
  
  .button-container {
    position: relative; /* Nécessaire pour le positionnement absolu */
    display: inline-block;
  }
  
  .button-image {
    width: 100px; /* Ajustez la largeur selon vos besoins */
    height: 100px; /* Ajustez la hauteur selon vos besoins */
  }
  
  .button-label {
    font-size: 29px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 1px black; 
}
  .gradient-text {
    display: inline-block; // Assurez-vous que l'élément prend la largeur du texte
    // Appliquez le gradient de couleur au texte
    background: $text-gradient;
    background-clip: text;
    color: transparent;
    
  
    // Définissez la police ici
    font-family: $jolly-lodger;
  }