/* Styles pour l'élément racine App */
.App {
  min-height: 100vh; /* Hauteur minimale de 100% de la vue (viewport) */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement */
}

/* Styles pour la barre de navigation */
.nav-bar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;

  .custom-button {
    margin-left: 100px;
    margin-right: 100px; /* Ajuster l'espacement horizontal */
  }

}

/* Styles pour le logo */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; /* Remplit l'espace restant */
}

.testo {
  width: 600px; /* Ajustez la taille du logo selon vos besoins */

}