@import './_pouet.scss';


.logoAll {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center; 
    justify-content: center; 
    background-image: url('../assets/circlePaint.png'); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center; 

}

.blablabli {
    font-size: 29px;
    font-family: Permanent Marker;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 1px black; 

}

.logo {

    width: auto;
    height: 80px;
    

}

.gold {

    color: aqua;
}


/*  Jouer avec margin t/b dans blabliblu et background size dans logo All  */