@import './_pouet.scss';


.logoAll {
    display: flex;
    flex-direction: column;
    width: 200px;
    
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    background-image: url('../assets/circlePaint.png'); /* Utilisez l'image comme arrière-plan */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center; /* Centrez l'arrière-plan */

}

.blablabli {
    font-size: 29px;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 1px black; 

}

.logo {

    width: 60px;
    height: 60px;
    

}


/*  Jouer avec margin t/b dans blabliblu et background size dans logo All  */