/* Dans le fichier CSS NavLink.css */
.nav-link {
    justify-content: center;
    align-items: center;
  }
  
  .nav-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px; /* Espacement entre les boutons */
    padding: 5px 10px;
  }