/* Dans le fichier _app.scss */
@import './_boxText.scss';

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajustez la hauteur selon vos besoins */
}

.infos {
    
    display: flex;
    justify-content: space-around; /* Espace équitable entre les éléments */

   
  }

  .box2 {
    width: 320px;
    justify-content: space-between;
    margin: 0px auto; /* Centre horizontalement avec 20px de marge verticale */
    text-align: center; /* Centrer le texte */
    color: aqua;
   
  
}

.centredTitle {

  font-family: $jolly-lodger;
  font-size: 25px;

}