
@import './_boxText.scss';

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajustez la hauteur selon vos besoins */
}

.infos {
    display: flex;
    justify-content: space-around; 
  }

  .box2 {
    width: 320px;
    justify-content: space-between;
    margin: 0px auto; 
    text-align: center; 
    display: inline-block;
    font-family: 'Acme';
    color: white;
}

.centredTitle {
  font-family: $jolly-lodger;
  font-size: 25px;
}

.centered-link {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.diff {
  
  width: 320px;
  justify-content: space-between;
  margin: 0px auto; 
  text-align: center; 
  display: inline-block;
  font-family: 'Acme';
  color: white;

}

@media screen and (max-width: 1200px) {
  .infos {
    flex-wrap: wrap;
  }
  
}

@media screen and (max-width: 1149px) {

  .box2 {
   margin: 0;
   
  }
 .small {
  margin: 20px auto; 
  height: 20px;
 
 }
 .diff{

width: 500px;
margin-left: 25px;
margin-right: 25px;

 }


}
@media screen and (max-width: 829px) {

  .styledText {

    font-size: 40px;
  }

.diff {

  margin-left: 0px;
margin-right: 0px;
}


.box2 {
  width: 500px;

}
  

}

@media screen and (max-width: 560px) {

  .box2 {
    width: 300px;
  
  }

  .diff {
    width: 300px;
    
  }

  .large {
   

  }

}