@import './_pouet.scss';
.h3 {

    font-size: 29px;
}


.centered {

    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionLogo {
    display: flex;
    flex-direction: column;
}

.skills-list {

    display: flex;
    flex-direction: inline;
   justify-content: space-evenly;
   flex-wrap: wrap;

}