@import './styles/_home.scss';
@import './styles/_buttonPaint.scss';
@import './styles/_projects.scss';
@import './styles/_navLink.scss';
@import './styles/_boxText.scss';
@import './styles/_caroussel.scss';
@import './styles/_pouet.scss';
@import './styles/_dropdown.scss';
@import './styles/_footer.scss';




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.testVH {

 

}

